// Font
$mainFont           : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontColor      : #707070;
$mainFontSize       : 16px;
$mainFontWeight     : 400;
$mainLineHeight     : 1.4;

// Breakpoints
$desktop            : 1280px;
$smDesktop          : 980px;
$table              : 768px;
$phone              : 480px;
$smPhone            : 320px;
