<ul class="day__list" id="day__list">
    {{#each items}}
        <li class="day__item" id="day__item">
            <div class="product">
                <div class="product__status">
                    <div class="product__status__name">{{ type }} №{{ id }}</div>
                    <div class="product__status__cost">300 &#8381;</div>
                </div>
                <a href="#" class="product__status__trigger">Товаров: {{ item.length }}</a>
                {{> "../product/product.hbs" }}
            </div>
        </li>
    {{/each}}
</ul> 