<div class="whouse">
    <ul class="whouse__list">
        <li class="whouse__item">
            <div class="day">
                <div class="day__header">
                    <a href="#" class="day__trigger">30 марта</a>
                    <div class="day__documents">Документов: 4 (7 444,35 &#8381;)</div>
                </div>
                <ul class="day__list">
                    <li class="day__item">
                        <div class="product">
                            <div class="product__status">
                                <div class="product__status__name">Приход №31231423</div>
                                <div class="product__status__cost">300 &#8381;</div>
                            </div>
                            <a href="#" class="product__status__trigger">Товаров: 3</a>
                            <ul class="product__list">
                                <li class="product__item">
                                    <div class="product__position__pic">
                                        <img src="https://sun1-88.userapi.com/c540100/v540100442/5c9f6/0-2cpMFmws8.jpg" alt="картинка" class="product__position__pic-img">
                                    </div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук &#215; 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product__item">
                                    <div class="product__position__pic">
                                        <img src="https://sun1-88.userapi.com/c540100/v540100442/5c9f6/0-2cpMFmws8.jpg" alt="картинка" class="product__position__pic-img">
                                    </div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук &#215; 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="day__item">
                        <div class="product">
                            <div class="product__status">
                                <div class="product__status__name">Приход №31231423</div>
                                <div class="product__status__cost">300 &#8381;</div>
                            </div>
                            <a href="#" class="product__status__trigger">Товаров: 3</a>
                            <ul class="product__list">
                                <li class="product__item">
                                    <div class="product__position__pic">
                                        <img src="https://sun1-88.userapi.com/c540100/v540100442/5c9f6/0-2cpMFmws8.jpg" alt="картинка" class="product__position__pic-img">
                                    </div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук &#215; 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product__item">
                                    <div class="product__position__pic">
                                        <img src="https://sun1-88.userapi.com/c540100/v540100442/5c9f6/0-2cpMFmws8.jpg" alt="картинка" class="product__position__pic-img">
                                    </div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук &#215; 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="whouse__item">
            <div class="day">
                <div class="day__header">
                    <a href="#" class="day__trigger">30 марта</a>
                    <div class="day__documents">Документов: 4 (7 444,35 &#8381;)</div>
                </div>
                <ul class="day__list">
                    <li class="day__item">
                        <div class="product">
                            <div class="product__status">
                                <div class="product__status__name">Приход №31231423</div>
                                <div class="product__status__cost">300 &#8381;</div>
                            </div>
                            <a href="#" class="product__status__trigger">Товаров: 3</a>
                            <ul class="product__list">
                                <li class="product__item">
                                    <div class="product__position__pic"></div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук х 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product__item">
                                    <div class="product__position__pic"></div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук х 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="day__item">
                        <div class="product">
                            <div class="product__status">
                                <div class="product__status__name">Приход №31231423</div>
                                <div class="product__status__cost">300 &#8381;</div>
                            </div>
                            <a href="#" class="product__status__trigger">Товаров: 3</a>
                            <ul class="product__list">
                                <li class="product__item">
                                    <div class="product__position__pic"></div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук х 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product__item">
                                    <div class="product__position__pic"></div>
                                    <div class="product__position__info">
                                        <div class="product__position__name">Творог нежирный</div>
                                        <div class="product__position__desc">
                                            <div class="product__position__quantity">5 штук х 75 &#8381;</div>
                                            <div class="product__position__cost">100 &#8381;</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>