
* {
    box-sizing: border-box;
}

html {
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    line-height: $mainLineHeight;
    font-family: $mainFont;
    color: $mainFontColor;

    @include table {
        font-size: 15px;
    }

    @include phone {
        font-size: 14px;
    }

    @include smPhone {
        font-size: 13px;
    }
}

html,
body {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.wrapper {
    background-color: #ededed;
    overflow: hidden;
    min-height: 100%;
}
